@model SurplusDeficitAutomationSystem.ViewModels.ViewModel
@{
    ViewData["Title"] = "New Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h4></h4>
<div>
    <p></p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Report", FormMethod.Post))
        {

            @Html.TextBoxFor(model => model.Admin.AdminId, new { @class = "form-control", @placeholder = "AdminID" })
            @Html.ValidationMessageFor(model => model.Admin.AdminId, "", new { @class = "error" })

            @Html.TextBoxFor(model => model.Report.ReportId, new { @class = "form-control", @placeholder = "ReportID" })
            @Html.ValidationMessageFor(model => model.Report.ReportId, "", new { @class = "error" })

            @Html.TextBoxFor(model => model.Provider.ProviderId, new { @class = "form-control", @placeholder = "ProviderID" })
            @Html.ValidationMessageFor(model => model.Provider.ProviderId, "", new { @class = "error" })

            @Html.TextBoxFor(model => model.User.Username, new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(model => model.User.Username, "", new { @class = "error" })

            @Html.TextBoxFor(model => model.Provider.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
            @Html.ValidationMessageFor(model => model.Provider.CompanyName, "", new { @class = "error" })


            

            <input type="submit" value="Submit" class="btn btn-block btn-primary" />

        }

        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
